
<h1>Biblioteca Digital</h1>

<h2>Lista de Livros</h2>

<p>Total de livros: {{ livros.length }}</p>

<button routerLink="/livros/novo">Novo Livro</button>

@if (livros.length === 0) {
  <p>Nenhum livro cadastrado.</p>
}

@for (livro of livros; track livro.id) {

  <div>
    <h3>{{ livro.titulo }}</h3>

    <p>Autor: {{ livro.autor }}</p>
    <p>Ano de publicação: {{ livro.anoPublicacao }}</p>
    <p>ISBN: {{ livro.isbn }}</p>

    <a [routerLink]="['/livros/editar', livro.id]">Editar</a>

    <button (click)="deletar(livro.id)">Excluir</button>

    <hr>
  </div>
}
